* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img1.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	min-width: 900px;
}

h1, h2, h3 {
	color: #000000;
}

p, blockquote, ul, ol {
	line-height: 180%;
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

.boxed {
	padding: 5px;
	background: url(images/img3.jpg) repeat-x;
}
.boxed h2
{
    padding-left: 15px;
    padding-top: 15px;
}

.heading {
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px;
}

#header {
	width: 660px;
	height: 180px;
	margin: 0 auto;
	background: url(images/img2.jpg) no-repeat;
	text-align: center;
}

#header a {
	text-decoration: none;	
	color: #000000;
}

#header h1 {
	padding-top: 50px;
	letter-spacing: 4px;
	font-size: 36px;
}

#header h2 {
	letter-spacing: 8px;
	font-size: 14px;
}

#left {
	float: left;
	width: 240px;
	margin-left: 10px;
}

#right {
	float: right;
	width: 220px;
	margin-right: 10px;
}

#left ul, #left ol, #right ul, #right ol {
	list-style-position: inside;
}

#left li, #right li {
	
}

#center {
	margin: 0 240px 0 260px;
}

#center ul, #center ol {
	margin-left: 3em;
}



#footer {
	background: url(images/img3.jpg) repeat-x;
	text-align: center;
	font-size: 77%;
	color: #000000;
}

#legal {
	margin: 0;
	padding: 20px 0 0 0;
	line-height: normal;
}

#links {
	margin: 0;
	padding: 20px 0;
	line-height: normal;
}
#content 
{
    padding: 0px 10px;
}
#content h2
{
    margin: 15px 0px;
    text-align: center;
}
.prevPart { float:left }
.nextPart { float:right; }
.lev1 {
    list-style-position: outside;
    padding: 0 20px;
}
.lev1 ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    padding: 0 20px;
}


#content ol {
    _list-style-type: none;
}
.menuParts {
    font-weight: bold;
    list-style-type: none;
    display: inline;
    
}
.menuParts li {
    display: inline;
    
}
#content ol {
    list-style-position: outside;
    padding: 0 20px;
    
}

.readnext {
    display: inline;
}
.nm
{
	display: block;
}



.menu
{
	padding-left: 0;
	margin-left: 0;		
}

.menu li
{
list-style: none;
margin: 0;
padding: 0.25em;
border-bottom: 1px solid #B9B6AF;
}

.menu a {
	text-decoration: none;
}
.menu a.current
{
    text-decoration: underline;
    color: #CCC;
}

.menu li span
{
    color: #CCC;
}

.menu a:hover {
	text-decoration: underline;
}

